<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="logs/flink-sql-test.log"
                     filePattern="logs/flink-sql-test-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
        
         <Logger name="io.confluent.flink.examples" level="info"/> 
        <Logger name="io.confluent.flink.examples" level="debug"/>
         <Logger name="io.confluent.flink.examples.helper" level="debug"/> 
        <Logger name="org.apache.flink" level="info"/>
        <Logger name="org.apache.kafka" level="info"/>
    </Loggers>
</Configuration> 